html, 
body,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100vh;

  background: var(--app-bg);
}

// .app__padding {
//   padding: 0 6rem;
// }

.App {
  height: 100vh;
  width: 100%;
  position: fixed;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

