:root {
    --pri-color: #d1d7db;
    --text-color: #e9edef;
    --unread-msg-bg: #00a884;
    --unread-msg-text: #111b21;
    --app-bg: #111b21;
    --overlay: #111b21eb;
    --app-bg-two: #222e35;
    --border-list: rgba(134,150,160,0.15);
    --border: rgba(134,150,160,0.4);
    --icons-color: #aebac1;
    // --msg-color: #e9edef;
    --msg-color: #f6f9fbf8;
}