.con {
    background: var(--app-bg-two);
    padding: 1rem .3rem 1rem .75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 1;


    img {
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.icons__con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75em;
}

.icons {
    color: var(--icons-color); 
    font-size: 25px;
    cursor: pointer;
}

