.con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1;
    padding: .5em .3em .5em .75em;
    flex-wrap: nowrap;
    width: 100%; 
    color: var(--text-color);
    cursor: pointer;
    border-top: .51px solid var(--border-list);


    &:hover {
        background: #17232a;
        border-radius: 4px;
    }

}

.img__con {
    flex: 1;
    img {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: .7em;
        border-radius: 100%;
    }
}

.msg__con {
    flex: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--text-color);
    padding: .7em 1em 0 0;
}

.msg__LHS {
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.msg__RHS {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}