:root {
  --color-red: #e50914;
  --prompt-color: #0071eb;
  --pri-bg: #fff;
  --sec-bg: #222;
  --pri-text-color: #333;
  --pri-footer-color: #737373;
  --pri-footer-bg: #f3f3f3;
  --bg-black: #000;
  --gray: #222;
  --bg-browse-page: #141414;
}


