@use '../../mixin.scss' as mixin;

@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');


.con {
    width: 100%;
    height: 100vh;

    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background: #14141493;
    color: #fff;
    
}

.content {
    position: relative;
    width: 70%;
    margin-top: 1rem;
    min-height: 90%;
    overflow-y: auto;

    background: #141414;
}

.close_icon {
    color: #fff !important;
    font-weight: 600;
    cursor: pointer;
    background: #141414;
    border-radius: 50%;
    box-shadow: 2px 2px 8px gray;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 60;
}

.head {
    aspect-ratio: 2/1;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

.head__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1%, rgba(20, 20, 20, 0.685) 36%, rgb(20, 20, 20) 91%);

    h3 {
        font-family: 'Sevillana', cursive;
        letter-spacing: .08em;
        text-shadow: 0 0 6px gray;
    }
}

.btn_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circled {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.198);
    border-radius: 100%;
    padding: .5rem;
    width: 40px;
    height: 40px;
}

.mute_controls {
    border-radius: 100%;
    color: #fff;
}

.btn_con__LHS {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end !important;
    gap: .5rem;

}

.btn {
    margin-top: 1rem;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: .2rem;
    background-color: #fff;
    color: var(--bg-black);
    width: 120px;
    padding: .5rem .75rem;
    cursor: pointer;
}



.icons {
    font-size: 2.5rem !important;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.198);
}

.body {
    padding: .5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex: 1;
    flex-wrap: nowrap;

    .body_LHS {
        flex: .7;
    }

    .body_RHS {
        flex: .3;
    }
}

.body_LHS_top {
    font-size: 16px;

    &>* {
        margin-right: .75rem;
        font-weight: 600;
    }

    & span:nth-child(1) {
        color: #46d369;
    }

    & span:nth-child(2) {
        border: 1px solid #fff !important;
        padding: .2rem;
        border-radius: 2px;
        font-size: 14px;
    }
}



.body_LHS div:nth-child(2) {
    margin-top: 1.75rem;
}

.body_RHS {
    & div:nth-child(2) {
        margin-top: 1rem;
    }
}

.features {
    font-size: 14px;

    & span:nth-child(1) {
        color: #777;
    }

    
}


@include mixin.tablet {
    .content {
        width: 80%;
    }

    .head {
        width: 100%;
        height: 50vh;
    }
}

@include mixin.mobile {
    .content {
        width: 85%;
    }

    .head__info {
        padding: .5rem;
    }

    .btn {
        width: 70px;
        padding: .2rem;
        gap: .1rem;
        margin-top: 2rem;

        span {
            font-size: 12px;
        }
    }

    .btn__play_icon {
        font-size: 10px;
    }

    .icons {
        font-size: 2rem !important;
    }

    .head__info h3 {
        margin-bottom: -1rem;
    }

    .body {
        flex-direction: column;
    }
}